body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 288px;
}
body .general,body #credits
{
	width: 248px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

body .tablet,body .desktop,body .hello,body .hdtv
{
	display: none;
}

@media only screen and (min-width:  667px)
{
	body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 576px;
	text-align: center;
}
body .general
{
	width: 344px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
}
}
 body .tablet
{
	display: inline-block;
	width: 536px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
 body #credits
{
	width: 536px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

}
@media only screen and (min-width:  985px)
{
	body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 864px;
}
body .general
{
	width: 440px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
}
 body .tablet
{
	width: 344px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
 body .desktop
{
	display: inline-block;
	float: left;
	width: 440px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin:auto;
}
 body #credits
{
	clear: both;
}

}
@media only screen and (min-width:  1304px)
{
	body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 1172px;
}
body .tablet,body .desktop,body .hello
{
	display: inline-block;
	width: 344px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}

}
@media only screen and (min-width:  1938px)
{
	body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 1748px;
}
body .hdtv
{
	display: block;
	width: 536px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}

}

