html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article,aside,figure,footer,header,hgroup,nav,section
{
	display: block;
}

nav ul
{
	list-style: none;
}

blockquote,q
{
	quotes: none;
}

blockquote: before,blockquote: after,q: before,q: after
{
	content: '';
	content: none;
}

a
{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

a:hover{
    background: transparent;

}

ins
{
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark
{
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del
{
	text-decoration: line-through;
}

abbr[title],dfn[title]
{
	border-bottom: 1px dotted #000;
	cursor: help;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,select
{
	vertical-align: middle;
}

body
{
	font-family: Helvetica, arial, sans-serif;
	padding: 0 auto;
	margin: 0 auto;
	width: 288px;
	background: #659A34;
	color:#283613;
	text-align:center;

}
body .general,body #credits
{
	width: 248px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

body .tablet,body .desktop,body .hello,body .hdtv
{
	display: none;
	font-family: Helvetica, arial, sans-serif;
}

h1 {
	font-family: 'Pacifico', script, arial, serif;
	padding:30px 0px 45px 0px;
	margin:0 auto;
	display;block;
	font-weight: bold;
 /*   text-transform: uppercase;*/
    color:#283613;/*#ACBF8F;*/
    text-align:center;
    font-size:4em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
/*    text-shadow: 0 0 4px #fff;  horizontal-offset vertical-offset 'blur' colour 
  -moz-text-shadow: 0 0 4px #fff;
  -webkit-text-shadow: 0 0 4px #fff;*/
    
}

h2{
    margin-top: 20px;
    width:100%;
    font-size:1em;
    text-align:justify;
    font-weight:normal;

}
.eg{
    vertical-align:top;
    clear:both;
    display:block;
    margin-top: 0px;
    font-size: .85em;
    width:100%;
}
.buttondiv {
    margin: auto;
    width: 80%;
    margin-bottom: 0px;
    padding:0px;
}

#income
{
	color:#283613;
}

form 
{
	margin:auto;
	width:100%

}

form input, form select 
{
	
    font: 14px Helvetica, Arial, sans-serif;
    background-color: #ACBF8F;
    border: none;
    color: #394C1B;
    outline: none;
    resize: none;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #191919 inset, 0 0 1px #181818 inset;
    -webkit-box-shadow: 1px 1px 1px #191919 inset, 0 0 1px #181818 inset;
    box-shadow: 1px 1px 1px #191919 inset, 0 0 1px #181818 inset;
        
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    margin:  15px 0px 3px 0px;
    width:  100%;
    
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
    background: -moz-linear-gradient(#3194c6, #5bacd6);*/

}

.button{
    background-color:#659A34;
    display: block;
    padding: 0 0 0 0;
    background: #ACBF8F;
    border:0px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
    color:#394C1B;
    width: 50%;
    height:35px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    -moz-box-shadow: 2px 2px 2px #394C1B;
	-webkit-box-shadow: 2px 2px 2px #394C1B;
	 box-shadow: 2px 2px 2px #394C1B;
    
}

#listhead{
    margin: 15px 0px 20px 0px;
    text-align:justify;

}

.shop-list {
    border-top:1px solid #394C1B;
	list-style: none;
	border-bottom: 1px solid #394C1B;
	margin: 0 0 20px 0;
	text-align:left;
	display: inline-block;
	width:100%;


}

.shop-list-name{
	display:block;
	font-variant:small-caps;
	font-weight:bold;
	padding: 2px;
	text-transform:capitalize;
}
.shop-list li
{

	list-style: none;
	margin: 0;
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #394C1B;
	width: 100%;
	font-variant:small-caps;
    text-transform:capitalize;
}

.shop-list li a { 

	text-decoration: none; 
	color:#ACBF8F; /*E9F0F2*/

}
.tableter {


float:right;


}

.sms{
margin-top:45px;


}

.sms h1{

font-family: Helvetica, Arial, sans-serif;
 font-size:2em;
 text-shadow: none;
}
.container{
	width:800px;
	margin:auto;
}




@media only screen and (min-width:  667px)
{
	body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 576px;
}
body .general
{
	width: 344px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	display: block;
}
 body .tablet
{
	display: block;
	width: 536px;
	margin-right: 10px auto;
	margin-left: 10px auto;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
}
body #credits
{
	width: 536px;
	margin:auto;
	color:#283613;
	display:block;
	clear:both;
	width:80%;
	text-align:justify;
	padding-top: 30px;
	line-height:150%
	
	
}
#credits ul
{
list-style-type: none;
padding: 0px;
margin: 0 auto;
}

#credits p{

font-size:1em;
width:100%;
margin: auto;
text-align:center;
padding:20px 0px 10px 0px;
}

a:link {text-decoration: none; color:#ACBF8F;}
a:visited {text-decoration: none; color:#ACBF8F;}
a:active {text-decoration: none; color:#fff;}
a:hover {text-decoration: underline; color:#fff;}



@media only screen and (min-width:  985px)
{
	body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 864px;
}
body .general
{
	width: 440px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
}
 body .tablet
{
	width: 344px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
 body .desktop
{
	display: block;
	float: left;
	width: 440px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
 body #credits
{
	clear: both;
}

}
@media only screen and (min-width:  1304px)
{
	body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 1172px;
}
body .tablet,body .desktop,body .hello
{
	display: block;
	width: 344px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}

}
@media only screen and (min-width:  1938px)
{
	body
{
	padding: 0 auto;
	margin: 0 auto;
	width: 1748px;
}
body .hdtv
{
	display: block;
	width: 536px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}

}

