<h2>To find stores nearby which accept SNAP/EBT cards enter your address, zip code or cross streets</h2>


<form action="<%= retailers_path + '/nearaddy/' %>" method="get">

  <input class="entryform-field" name="address" value="" id="addressfield"/>
    <p class="eg">e.g. 48104, 85 2nd St, or Mission and Fulsom</p>
  <div class="buttondiv">
    <input class="button" id="submitbutton" type="submit" value="submit"/>
   
  </div>
 <a href="#" id="locateme">use my current location </a> 
</form>

<div class="sms">
<p>or, text message your address to:</p>
<h1>1 (510) 470-7920</h1>
</div>
