<h2></h2>
<p>enter your address, zip code or cross street</p>
<form action="<%= retailers_path + '/nearaddy/' %>" method="get">

  <input class="entryform-field" name="address" value="" id="addressfield"/>
  <div class="c"><input id="submitbutton" type="submit" value="submit"/></div>

</form>

<p>Search above, or text message your address to: 510.470.7920 to find the five closest retailers to your address.</p><br />
<p>SnapFresh.org helps you find the closest places that accept SNAP, (Food Stamps).</p><br />
<p>Results are cross-referenced with <a href="http://www.yelp.com">Yelp</a> to help you find healthy places to shop.<br /><br />          
