<h2>Enter your address, zip code or cross streets to find stores nearby which accept SNAP cards</h2>


<form action="<%= retailers_path + '/nearaddy/' %>" method="get">

  <input class="entryform-field" name="address" value="" id="addressfield"/>
    <p class="eg">e.g. 48104, 85 2nd St, or Mission and 16th</p>
  <div class="buttondiv">
    <input class="button" id="submitbutton" type="submit" value="submit"/>
   
  </div>
<!-- <a href="#" id="locateme">use my current location </a>  -->
</form>

<div class="sms">
<p>or, text message your address to:</p>
<h1>(415) 349-3019</h1>
</div>
