<!-- This content will be displayed all the time -->
<div class="general">
        <h1>All<span id="income">income</span>foods</h1>
        <h2></h2>
        <p>enter your address, zip code or cross street</p>
        <form action="<%= retailers_path + '/nearaddy/' %>" method="get">
        
          <input class="entryform-field" name="address" value="" id="addressfield"/>
          <div class="c"><input id="submitbutton" type="submit" value="submit"/></div>
        
        </form>
</div>
