<h2>SnapFresh System Use Policies</h2>

<article class="terms">
  <ol>
    <li>
      <strong>Parties</strong> - these terms are defined between yourself (the User)
      and the SnapFresh product team (Product Team) which includes volunteer developers,
      marketers and testers of this application.
    </li>
    <li>
      <strong>Privacy</strong> - We value your privacy. We will not give, share, sell,
      rent or transfer any personal information to anyone outside of the Product Team, unless
      we have your consent. We may track usage of the service, so that the service can improve
      to suit the User's needs, but we will not share usage data outside of the Product Team.
    </li>
    <li>
      <strong>Disclaimer</strong> - the information and listings shared on SnapFresh may not
      be correct, and occasionally SnapFresh may not be available. Therefore, the User's use of
      SnapFresh and any reliance upon the information shared on SnapFresh is at your own risk.
    </li>
  </ol>
</article>
