<center>
  <h2><b>SnapFresh System Use Policies:</b></h2>
  <ol>
    <li><b>Parties</b> - these terms are defined between yourself (the User) and the SnapFresh product team (Product Team)
    which includes volunteer developers, marketers and testers of this application. </li>
    <br><br>
    <li><b>Privacy</b> - We value your privacy. We will not give, share, sell, rent or transfer any personal information to anyone outside of the Product Team, unless we have your
    consent. We may track usage of the service, so that the service can improve to suit the User's needs, but we will not
    share usage data outside of the Product Team.</li>
    <br><br>
    <li><b>Disclaimer</b> - the information and listings shared on SnapFresh may not be
    correct, and occasionally SnapFresh may not be available. Therefore, the User's use of SnapFresh and any reliance upon the
    information shared on SnapFresh is at your own risk.</li>
  </ol>
</center>
