---
http_interactions:
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=22314&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"22314\",\n               \"short_name\"
        : \"22314\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Alexandria\",\n               \"short_name\"
        : \"Alexandria\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Virginia\",\n
        \              \"short_name\" : \"VA\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Alexandria, VA 22314, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 38.84125909999999,\n
        \                 \"lng\" : -77.0372879\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 38.785216,\n                  \"lng\" : -77.10598399999999\n
        \              }\n            },\n            \"location\" : {\n               \"lat\"
        : 38.7999723,\n               \"lng\" : -77.0506896\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 38.84125909999999,\n                  \"lng\"
        : -77.0372879\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 38.785216,\n                  \"lng\" : -77.10598399999999\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJOW-ZpgWxt4kRf8hoAG5_SO4\",\n
        \        \"types\" : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" :
        \"OK\"\n}\n"
  recorded_at: Fri, 31 Jul 2015 20:32:01 GMT
recorded_with: VCR 2.9.3
