---
http_interactions:
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=22314&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"22314\",\n               \"short_name\"
        : \"22314\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Alexandria\",\n               \"short_name\"
        : \"Alexandria\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Virginia\",\n
        \              \"short_name\" : \"VA\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Alexandria, VA 22314, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 38.84125909999999,\n
        \                 \"lng\" : -77.0372879\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 38.785216,\n                  \"lng\" : -77.10598399999999\n
        \              }\n            },\n            \"location\" : {\n               \"lat\"
        : 38.7999723,\n               \"lng\" : -77.0506896\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 38.84125909999999,\n                  \"lng\"
        : -77.0372879\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 38.785216,\n                  \"lng\" : -77.10598399999999\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJOW-ZpgWxt4kRf8hoAG5_SO4\",\n
        \        \"types\" : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" :
        \"OK\"\n}\n"
  recorded_at: Fri, 31 Jul 2015 20:32:04 GMT
- request:
    method: get
    uri: http://api.yelp.com/business_review_search?location=3603%20Maybank%20Hwy,Johns%20Island,SC&term=CIRCLE%20K%20STORE&ywsid=<YELP_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web46-r5-iad1, api_com
      Content-Type:
      - application/json; charset=utf-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb1-r2-iad1
    body:
      encoding: US-ASCII
      string: ! '{"message": {"text": "OK", "code": 0, "version": "1.1.1"}, "businesses":
        [{"rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png",
        "country_code": "US", "id": "aT9XZ_xPEXeez3aXihbsLg", "is_closed": false,
        "city": "Charleston", "mobile_url": "http://m.yelp.com/biz/circle-k-charleston-2",
        "review_count": 3, "zip": "29414", "state": "SC", "latitude": 32.7926658,
        "rating_img_url_small": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png",
        "address1": "2300 Savannah Hwy", "address2": "", "address3": "", "phone":
        "8435562322", "state_code": "SC", "categories": [{"category_filter": "grocery",
        "search_url": "http://www.yelp.com/search?cflt=grocery\u0026find_desc=\u0026find_loc=2300+Savannah+Hwy%2C+Charleston+29414",
        "name": "Grocery"}], "photo_url": "http://media4.fl.yelpcdn.com/bpthumb/K1kYZKhnxAiLEgYpWC4ToA/ms",
        "distance": 5.475092, "name": "Circle K", "neighborhoods": [], "url": "http://www.yelp.com/biz/circle-k-charleston-2",
        "country": "USA", "avg_rating": 2.5, "longitude": -80.0436006, "nearby_url":
        "http://www.yelp.com/search?find_desc=\u0026find_loc=2300+Savannah+Hwy%2C+Charleston+29414",
        "reviews": [{"rating_img_url_small": "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/902abeed0983/ico/stars/v1/stars_small_3.png",
        "user_photo_url_small": "http://media1.fl.yelpcdn.com/upthumb/J-swTt4WUqX2WY68UJVm8w/ss",
        "rating_img_url": "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/34bc8086841c/ico/stars/v1/stars_3.png",
        "rating": 3, "user_url": "http://www.yelp.com/user_details?userid=pdi_8abv-C0rVLAMdjCQNw",
        "url": "http://www.yelp.com/biz/circle-k-charleston-2?hrid=KpPeuWDrPGOKAJyQksArvw",
        "mobile_uri": "/biz/circle-k-charleston-2?full=True\u0026hrid=KpPeuWDrPGOKAJyQksArvw",
        "text_excerpt": "I have a confession. I am obsessed with Polar Pops. A 32oz
        fountain soda over crushed ice (and they''re 69 cents plus tax!) Love it.
        \n\nThe gas prices here...", "user_photo_url": "http://media1.fl.yelpcdn.com/upthumb/J-swTt4WUqX2WY68UJVm8w/ms",
        "date": "2015-05-27", "user_name": "Logan K.", "id": "KpPeuWDrPGOKAJyQksArvw"},
        {"rating_img_url_small": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/74cb12ae7253/ico/stars/v1/stars_small_1.png",
        "user_photo_url_small": "http://media1.fl.yelpcdn.com/upthumb/NQMC3a4BEAsCY4ppQQh41A/ss",
        "rating_img_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f64056afac01/ico/stars/v1/stars_1.png",
        "rating": 1, "user_url": "http://www.yelp.com/user_details?userid=JwJa-B5FV_qKBJ5HsPrk7g",
        "url[...]
[...]
- request:
    method: get
    uri: http://api.yelp.com/business_review_search?location=Two%20Street,Two%20Town,VA&term=Two%20Local%20Mart&ywsid=<YELP_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web39-r5-iad1, api_com
      Content-Type:
      - text/plain; charset=utf-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb1-r2-iad1
    body:
      encoding: US-ASCII
      string: ! '{"message": {"text": "Multiple locations match query", "code": 209,
        "version": "1.1.1"}, "businesses": []}'
  recorded_at: Fri, 31 Jul 2015 20:32:08 GMT
- request:
    method: get
    uri: http://api.yelp.com/business_review_search?location=Two%20Street,Two%20Town,VA&term=Two%20Local%20Mart&ywsid=<YELP_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - internalapi1-r2-iad1, api_com
      Content-Type:
      - text/plain; charset=utf-8
      X-Mode:
      - ro
      X-Proxied:
      - extlb1-r2-iad1
    body:
      encoding: US-ASCII
      string: ! '{"message": {"text": "Multiple locations match query", "code": 209,
        "version": "1.1.1"}, "businesses": []}'
  recorded_at: Fri, 31 Jul 2015 20:32:08 GMT
recorded_with: VCR 2.9.3
