/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require bootstrap.min
 *= require_self
 */

body {
  text-align: center;
}
h2 {
  margin-top: 20px;
  width:100%;
  font-size:1em;
  text-align:center;
  font-weight:bold;
}
.header {
  border: 1px solid #56A00E;
  background: #74b042;
  height: 2.5em;
}
.phone{
  color: #56A00E;
  font-size: 2em;
  font-weight: 600;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
