/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 */

.navbar {
  background: #74b042;
  border-radius: 0;
  border: 1px solid #56A00E;
}

.terms {
  text-align: left;
}

.terms li {
  margin-bottom: 1em;
}

.list-group li {
  list-style-type: none;
}

.logo img {
  width: 40%;
}

body {
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

.phone {
  color: #56A00E;
  font-size: 2em;
  font-weight: 600;
}

section, main, footer {
  margin: 1.5em 0;
}

// For bootstrap
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
